:root{
    --cor-texto-principal: #ffffff;
    --cor-texto-secundario: #ffffff;
    --botao-principal: #5a8a3b;
    --botao-secundario: #ffffff;
}

*{
    margin: 500;
    padding: 200;
}

body{
    background-color: var(--botao-secundario);
    color: var(--cor-texto-principal);
    background-image: url("./8A4183B8-7D89-4E8B-B7A2-7975AD6EE99C.jpeg");
background-repeat: no-repeat;
background-size: cover;
}

.principal{
    background-image: url("./sherek1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container--botao{
    background-color: var(--botao-principal);
    color: var(--cor-texto-principal);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin-bottom: 2em;
}

.botao--secundario{
    background-color: transparent;
    border: 2px solid var(--cor-texto-principal);
}

.container--caixa{
    margin: 19em 2em;
}
.container--img{
    margin: 1em 0 2em 0;
}