:root{
    --cor-texto-principal: #ffffff;
    --cor-texto-secundario: #ffffff;
    --botao-principal: 
    --botao-secundario

}




*{

    margin: 0;
    padding: 0;
}

.principal{
    background-image: url ();
background-repeat: no-repeat;
background-size: contain;
}

.container